:root {
    --color-primary: hsl(0, 0%, 15%);
}
text {

text-align: center;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu',Monospace;
    color: hsl(0, 0%, 78%);
    font-size: 30px;
    font-weight: Monospace;
}

body {
    background-color: var(--color-primary);
    margin-left: 15px;
    margin-top: 15px;
}


::placeholder {
    color: hsl(0, 0%, 20%);
}


p {
    font-size: 25px;
    font-weight: Monospace;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 0.15s linear;
    width: auto;
}

body {

text-align: center;

}

h2 {
    font-size: 30px;
}
